p {
  font-size: 1.1rem;
}

.outerDiv {
  padding:4%;
}

.innerDiv {
  background:#585858;
  color:whitesmoke;
  padding:5%;
  border-radius: .25rem;
  margin: auto;
}
.lineDiv {
  margin-bottom: 2%;
}
.burnP {
  font-size:1.25rem;
  font-weight: 600;
}
.clickP {
  cursor: pointer;
  text-decoration: underline;
  font-weight:575;
  font-size:1.2rem;
}
.moreInfoDiv {
  background: #cdd9e5;
  color:#233443;
  padding:3%;
  border-radius: .5rem;
  cursor: pointer;
  line-height: 1.5;
  margin-top:2%;
}
.moreInfoDiv p {
  font-size:1.15rem;
  line-height: 1.5;
  font-weight: 600;
}
.burnSpan {
  color:#f88e53;
  font-size:1.6rem;
}
.priceDiv {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}
.innerPriceDiv {
  background: #4d4d4d;
  border-radius: .5rem;
  padding:3%;
  margin-top:5%;
}
.priceP {
  font-size:1.4rem;
  font-weight:600;
  color:#4ad295;
}
.targetRebase {
  background: #CCCCCC;
  border-radius: .5rem;
  padding:3%;
  margin-top:5%;
}
.infoRebase {
  font-weight: 600;
  color: #424242;
}
.timerRebase {
  font-size:1.4rem;
  font-weight:600;
  color:#89000A;
}
.infoP {
  font-weight: 600;
}
.rebaseButton {
  padding:3% 0 3%;
  margin: 5% 0 5%;
  font-size: 1.3rem;
  background: #018786;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border-radius: .5rem;
  font-family:'Roboto',sans-serif;
  border: 2px solid whitesmoke;
  transition:.4s;
}
.rebaseButton:hover {
  background: whitesmoke;
  border:2px solid #018786;
  color:#018786;
}
.rebaseButtonDisabled {
  padding:3% 0 3%;
  margin: 5% 0 5%;
  font-size: 1.3rem;
  background: #FF7A83;
  color: #FFDBDE;
  cursor: pointer;
  outline: none;
  border-radius: .5rem;
  font-family:'Roboto',sans-serif;
  border: 2px solid #FFDBDE;
  transition:.4s;
}
.buttonIcon {
  width:60%;
  height:auto;
  margin: auto;
  margin-top:-5%;

}
.innerLink:link, .innerLink:visited {
  color: #FFFFFF;
  text-decoration: underline;
}
.innerLink:hover {
  color: #AAAAAA;
  text-decoration: underline;
}

.innerButtonDiv {
  display:grid;
  grid-template-columns: .25fr .5fr .25fr;
}

.alert {
  border-radius:.5rem;
  width:60%;
  margin:auto;
  padding:3%;
  margin-top:2%;
  word-wrap: break-word;
}
.errorAlert {
  background:crimson;
  width:50%;
  padding:1% 2%;
}
.successAlert {
  background: cadetblue;
}
.alertText {
  font-weight:700;
}
.txNum {
  color:black;
}

@media only screen and (min-width:468px) {
  .buttonIcon {
    width:50%;
  }
  .rebaseButton {
    padding:4% 0 2.5;
  }
  .rebaseButtonDisabled {
    padding:4% 0 2.5;
  }
}
@media only screen and (min-width:768px) {
  .rebaseButton {
    padding:3% 0 2%;
    width:40%;
  }
  .rebaseButtonDisabled {
    padding:3% 0 2%;
    width:40%;
  }
  .innerDiv {
    padding:2%;
    width:70%;
  }
  .outerDiv {
    padding:7%;
  }
  .outerDiv {
    padding:7%;
  }
}

@media only screen and (min-width:900px) {
  .buttonIcon {
    width:50%;
  }
  .rebaseButton {
    font-size:1.5rem;
    width:50%;
  }
  .rebaseButtonDisabled {
    font-size:1.5rem;
    width:50%;
  }
  .innerPriceDiv {
    margin:3% 6% 0
  }
  .targetRebase {
    margin:3% 6% 0
  }
  p {
    font-size:1.2rem;
  }
  .outerDiv {
    padding:2%;
  }
}
